name: Scan and SBOM
on:
  workflow_call:
    inputs:
      images:
        description: "A comma-separated list of images to scan.  E.G. '[\"docker.io/library/alpine:3.14.0\", \"docker.io/library/alpine:3.13.6\"]'"
        required: true
        type: string

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set matrix
        id: set-matrix
        env:
          IMAGES: ${{ inputs.images }}
        run: |
          echo "matrix=$IMAGES" >> $GITHUB_OUTPUT

  scan-image:
    needs: generate-matrix
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        image: ${{fromJson(needs.generate-matrix.outputs.matrix)}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@cc0becac701cf642c8f0a6613bbdaf5dc36b259e # v9

      - name: Install Syft
        shell: bash
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
          syft version

      - name: Lowercase Registry
        id: registry_case
        uses: ASzc/change-string-case-action@d0603cd0a7dd490be678164909f65c7737470a7f # v6
        with:
          string: ${{ matrix.image }}

      - name: Generate SBOM
        env:
          IMAGE: ${{ steps.registry_case.outputs.lowercase }}
        run: |
          syft ${IMAGE} \
            --output cyclonedx-json=sbom.json \
            --config ./.github/syft.yml

      - name: Scan SBOM
        id: scan
        uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v3
        with:
          sbom: sbom.json
          output-format: json
          fail-build: false

      - name: Generate artifact name
        id: artifact-name
        env:
          IMAGE: ${{ steps.registry_case.outputs.lowercase }}
        run: |
          echo "name=$(echo ${IMAGE} | awk -F'/' '{print $NF}' | sed 's/:/-/g')" >> $GITHUB_OUTPUT

      - name: Upload scan results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: security-${{ steps.artifact-name.outputs.name }}
          if-no-files-found: error
          path: |
            sbom.json
            ${{ steps.scan.outputs.json }}
